---
layout: post
---
<html>
  <head><!--code to go at start of html-->
<link rel="icon" href="https://www1.cs.uic.edu/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://www1.cs.uic.edu/images/favicon.ico" type="image/x-icon">
<!--<title>Amlaan Bhoi</title><style type="text/css">
.style2 {
        margin-bottom: 6px;
}
.style3 {
        margin-top: 36px;
}
.style5 {
        border-width: 0px;
        float: right;
        margin: 0 0 10px 10px;
        padding: 2px;
}</style>
  !-->
<title>{{ page.title }}</title>
{% include head.html %}
</head>
<body>
  <div id="container">
<div id="top">
  <a href="/">Home</a>
</div>
<div id="leftnav" style="width: 172px; height: 268px;">
<p>
  <a href="/about.html">About</a><br>
  <a href="/projects.html">Projects</a>
  <a href="/research.html">Research</a><br>
  <br>
  <a href="/pdf/resume.pdf">Resume (pdf)</a><br>
</p>
</div>
<div id="content">
<div class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }} by {% if page.author %} {{ page.author }}{% endif %}  
<!--{% if page.categories %}
  in
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}

  {% endif %}-->
</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>
<div id="footer">
This page is based on the design by Prof
<a href="http://alex.smola.org/">Alex Smola</a>.</div>
</div>
</body>
</html>